@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import "reset.css";
@import "variables.css";
/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";
@import "components/no-mobile.css";
/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";
body{
    font-family: 'Open Sans', sans-serif;
}
.main-screen{
    padding: 0px var(--horizontal-space);
    height: 160vh;
    margin-bottom: 80px;
}
.settings-screen{
    padding-top: 83px;
}
#splash-screen{
    background-color: var(--yellow);
    position: absolute;
    width: 96.5vw;
    height: 110vh;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 120px;
    z-index: 4;
    animation: hideSplashScreen 0.4s ease-in-out forwards;
    /* forwards : 애니메이션의 마지막 상태를 유지하겠다*/
    animation-delay: 1.5s;
}
@keyframes hideSplashScreen{
    from{
        opacity: 1;
    }to{
        opacity: 0;
        visibility: hidden;
        /*아예 숨어있는 것 숨겨서 안보일 뿐 없어지는 건 아님
        자바는 이용하는 것이 아님*/
    }
}