#friends-display-link{
    text-align: center;
    display: block;
    background-color: #fafafa;
    padding:10px 0px;
    margin-bottom: 10px;
    font-size: 18px;
    margin-top: -15px;
}
#friends-display-link i{
    color: rgba(0, 0, 0, 0.3);
}
.friends-screen__channel{
    margin-top: 25px;
    border-top: var(--main-border);
    padding-top: 15px;
}
.friends-screen__channel__header{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    opacity: 0.6;
}
.friends-list{
    padding-bottom: 20px;
}