.more-screen .icons-row{
    margin-top: 35px;
}
.icons-row__icon i:hover{
    animation: zoomIn 0.3s ease-in forwards;
}
@keyframes zoomIn{
    from{
        transform: scale(1);
    }to{
        transform: scale(1.4);
        color: var(--yellow);
    }
}

.more-suggestions{
    margin: 50px 0;

}
.more-suggestions__icons{
    display: flex;
    margin: 50px 0;
}
.more-suggestions__icon{
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.more-suggestions__icon__image{
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.more-suggestions__icon__image i{
    font-size: 33px;
    color: white;
}
.more-suggestions__icon__image img{
    width: 100%;
    height: 100%;
    animation: swing 2s linear infinite;
}
@keyframes swing{
    0%{
        transform: rotateY(0deg);
    }25%{
        transform: rotateY(20deg);
    }50%{
        transform: rotateY(0deg);
    }75%{
        transform: rotateY(-20deg);
    }100%{
        transform: rotateY(0deg);
    }
}